<div class="navbar">
    <div class="logo">
        <img src="assets/images/CSLogo.png" alt="Logo"> &nbsp; &nbsp; <b>CyberSec</b>
    </div>
    <ul>
        <li><a href="/admin-home">Home</a></li>
        <li class="dropdown" dropdown>
          <a dropdownToggle role="button">Modules</a>
          <div *dropdownMenu class="dropdown-menu" data-bs-theme="dark">
            <a class="dropdown-item" href="/module-editor">Module 1</a>
            <a class="dropdown-item" href="#">Module 2</a>
            <a class="dropdown-item" href="#">Module 3</a>
            <a class="dropdown-item" href="#">Module 4</a>
            <a class="dropdown-item" href="#">Module 5</a>
          </div>
        </li>
    </ul>
</div>

