<div class="button-container-editor">
    <div class="dropdown" dropdown>
    <button dropdownToggle class="btn btn-light btn-sm change-type-button"><i class="bi bi-arrow-repeat"></i></button>
    <div *dropdownMenu class="dropdown-menu" data-bs-theme="light">
        <a class="dropdown-item" (click)="changeType='MCQ'">MCQ</a>
        <a class="dropdown-item" (click)="changeType='Match the Following'">Match the Following</a>
        <a class="dropdown-item">Order Items</a>
    </div>
    </div>
    <button class="btn btn-light btn-sm delete-button" (click)="deleteQuestion()"><i class="bi bi-trash3-fill"></i></button>
    <button class="btn btn-light btn-sm edit-button" (click)="editMode = true" [disabled]="editMode"><i class="bi bi-pen-fill"></i></button>
</div>
